@charset "UTF-8";

@use "../foundation/mixin" as m;
@use "../foundation/variable" as v;

.l-header {
    width: 100%;
    height: 200px;
    // background-color: #77CCF0;
    background-color:v.$bs;
    margin: 0;
    display: flex;
    
}