@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;


.p-box {
    background-color: #D5EEFF;
    padding: 0.8rem;
    // @include m.mq(tab) {

    // }


    &--news {
        padding: 0.6rem;
        margin:  0 auto;
        height: 100%;
        width: 85%;
        @include m.mq(tab) {
            // height: 300px;
            // width: 710px;
            padding: 1rem;
            @include m.mq(pc) {
                // height: 350px;
                // width: 1200px;
                padding: 3rem;
        }
        }
        
        &__group {
            padding: 0.7rem;
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            }
    }
    
    &--menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__open{ 
                // background-image: url(../img/open-sp.png);
                background-size: cover;
                background-position: center center;
                height: 284.21px;
                width: 85%;
                @include m.mq(tab) {
                    // background-image: url(../img/open-tab.png);
                    height: 308px;
                    // width: 710px;
                    @include m.mq(pc) {
                        // background-image: url(../img/open.png);
                        height: 350px;
                        // width: 1200px;
                }
                }
        }
        &__support {
                background-image: url(../img/support-sp.png);
                background-size: cover;
                background-position: center center;
                height: 284.21px;
                width: 85%;
                @include m.mq(tab) {
                    background-image: url(../img/support-tab.png);
                    height: 308px;
                    // width: 710px;
                    @include m.mq(pc) {
                        background-image: url(../img/support.png);
                        height: 350px;
                        // width: 1200px;
                }
                }
        }
    }
    &--text {
        padding: 0.6rem;
        margin:  0 auto;
        width: 95%;
        @include m.mq(tab) {
            // width: 710px;
            padding: 1rem;
        }
            @include m.mq(pc) {
                // width: 1200px;
                padding: 3rem;
        }
}
}