@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;


.p-box {
    // height: 23%;
    // width: 80%;
    background-color: #78BBE6;
    margin: 0 auto;
    @include m.mq(tab) {

    }


    &--news {
        padding: 0.6rem;
        margin:  0 auto;
        width: 350px;
        @include m.mq(tab) {
            height: 300px;
            width: 710px;
            @include m.mq(pc) {
                height: 350px;
                width: 1200px;
        }
        }
        
        &__group {
            padding: 0.7rem;
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            }
    }
    
    &--menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__open{ 
                background-image: url(/img/open.png);
                background-size: cover;
                background-position: center center;
                height: 284.21px;
                width: 350px;
                @include m.mq(tab) {
                    height: 308px;
                    width: 710px;
                    @include m.mq(pc) {
                        height: 350px;
                        width: 1200px;
                }
                }
        }
        &__support {
                background-image: url(/img/support.png);
                background-size: cover;
                background-position: center center;
                height: 284.21px;
                width: 350px;
                @include m.mq(tab) {
                    height: 308px;
                    width: 710px;
                    @include m.mq(pc) {
                        height: 350px;
                        width: 1200px;
                }
                }
        }
    }

}