@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-menu {
    position: fixed;
    right: -100%;

    &.open {
        right: 0;
    }

    @include m.mq(pc) {
        display: flex;
        left: 60%;
        font-size: 32px;
        position: absolute;
}
}