@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;


.menu-item-26, .menu-item-27, .menu-item-28 {
    padding: 18px;
    
    a {
        color:#FFF;
    }
}

main ul li div.whatsnew dl dt {
    width: auto;
}

footer ul li a {
    color: #fff
    ;
}

footer .menu {
    display: flex;
    flex-direction: column;
    @include m.mq (tab){
        flex-direction: row;
    }
    li {
        padding: 2px 2px 2px 2px;
        white-space: nowrap;
        text-align: center;
        @include m.mq (tab){
            padding: 2px 10px 2px 10px;
    }
}}

div #wpadminbar {
    position:  fixed;
}