@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-button {
    height: 70px;
    width: 70px;
    position: fixed;
    top: 28px;
    right: 0;
    :nth-child(2) {
        margin: 15px 0 15px 0;
        }
    &.open {
        transform: rotate(90deg);
    }
}
