@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;



.c-position {
    @include m.mq(tab) {
    position:absolute;
    left: 50%;
    &__70 {
        left: 70%;
    }

    }
}