@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;





.c-text {
    color: #fff;
    // display: inline;

    &--top{
        font-size: 24px;
        @include m.mq (tab) {
                font-size: 40px;
        }
        @include m.mq(pc){
                font-size: 48px;
        }
        
    }
    &--tel {
        font-size: 15px;
        padding: 7px 15px 0 140px;
        @include m.mq (tab) {
            font-size: 24px;
        }
        @include m.mq(pc){
                font-size: 40px;
        }
    }
    &--sub{
        font-size: 12px;
        padding: 0 0 0 125px;
        @include m.mq (tab) {
            font-size: 14px;
            padding: 0 0 0 200px;
        }
        @include m.mq(pc){
            font-size: 20px;
            padding: 0 0 0 315px;
        }
    }
}