@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;





.c-text {
    color: #fff;
    // display: inline;

    &--top{
        font-size: 24px;
        
    }
    &--tel {
        font-size: 15px;
        padding: 5px 15px 0 170px

    }
    &--sub{
        font-size: 12px;
        padding: 0 0 0 125px;
    }






}