@charset "UTF-8";

@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;


.u-box--margin {
    background-color: antiquewhite;
    margin: 0 5% 0 5%;
    @include m.mq (tab){
        margin: 0 10 0 12%;
    }
    @include m.mq (pc){
        margin:0 6% 0 8%;
    }
    
    
}